.div-header-img {
    height: 24vw;
  }
  
  .cards-section {
    background-color: var(--primary-container-color);
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--primary-container-color);
  }
  
  .single-card-container {
    padding: 24px;
    background-color: var(--on-primary-color);
  }
  
  .single-card-container:hover {
    position: relative;
    top: 2px;
    box-shadow: 8px 8px var(--secondary-container-color);
  }
  
  .author-name {
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
  }
  
  .card-content {
    margin-top: 16px;
  }
  
  #separator,
  .separator {
    border-top: 2px solid var(--secondary-container-color);
    margin-top: 0px;
  }